.container{
    width: 1000px;
    height: auto;
    margin: auto;
    background-color: azure;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }